/* HEADER SECTION */
.navbar-toggler div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    
}
.HeroSection {
    width: 100%;
    /* height: 100vh; */
    background: url(../../images/newBg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    position: relative;
    overflow: hidden;
}

/* // button hero section */
.btnbg {
    background: linear-gradient( 89.2deg, rgb(5, 120, 190) 3.3%, rgb(119, 217, 211) 97.8% );
}
/* FOOTER**************************** */
.footer {
    background-color: #000638;
    
}
.footer p {
    font-size: 15px;
    color: rgba(255,255,255,.5)!important;
}
.footer a {
    text-decoration: none !important;
    /* color:rgba(255,255,255,.5) !important; */
    color: #ffffff80 !important;
}
.footer ul li {
    line-height: 30px !important;
}

/* transition */
.anime_btn {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background: linear-gradient(
      89.2deg,
      rgb(5, 120, 190) 3.3%,
      rgb(119, 217, 211) 97.8%
    );
  }
  
  .anime_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .anime_btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .anime_btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .anime_btn::after {
    background: radial-gradient(
      circle at 10% 20%,
      rgb(145, 217, 243) 0%,
      rgb(147, 164, 243) 90%
    );
  }
  
  .anime_btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }